* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

h1 {
    margin: 20px;
}

fieldset {
    margin: 20px;
    padding: 20px;
}

#carouselExampleCaptions {
    max-width: 800px; 
    margin: 0 auto; 
  }

.carousel-item img {
    max-width: 100%;
  }